
*.properties

.idea/.name

.gradle/2.2.1/taskArtifacts/cache.properties.lock

.gradle/2.2.1/taskArtifacts/fileHashes.bin

.gradle/2.2.1/taskArtifacts/fileSnapshots.bin

.gradle/2.2.1/taskArtifacts/outputFileStates.bin

.gradle/2.2.1/taskArtifacts/taskArtifacts.bin

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/gradle.xml

.idea/libraries/appcompat_v7_22_0_0.xml

.idea/libraries/BaiduLBS_Android.xml

.idea/libraries/commons_httpclient_3_1.xml

.idea/libraries/fastjson_1_1_15.xml

.idea/libraries/materialloadingprogressbar_0_5_3_RELEASE.xml

.idea/libraries/pgyer_sdk_2_0.xml

.idea/libraries/support_annotations_22_0_0.xml

.idea/libraries/support_v4_22_0_0.xml

.idea/libraries/xUtils_2_6_14.xml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml
